<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Banda {{ alias }} - {{ messages|length }} mensajes detectados</h3>
  </div>
  <div class="panel-body">
    {% for message in message %}
      <ul>
        <li><b>Fecha:</b> {{ message.fecha|date('dd/mm/yyyy') }}</li>
        <li><b>Numero de emision:</b> {{ message.numero }}</li>
        <li><b>Ciudad de emision:</b> {{ message.ciudad }}</li>
        <li><b>Contenido:</b> {{ message.contenido }}</li>
      </ul>
    {% endfor %}
  </div>
</div>
